/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */




body {
  background-color: black;
  color: white;
}

.modal.bottom-sheet {
  max-height: 70%;
}
.bigshot {
  height:100%;
  width:100%;
}

.person-info p{
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.person-info h3 {
  text-transform: uppercase;
}
.person-info span{
  min-width: 70px;
}



p {
  line-height: 2rem;
}

.button-collapse {
  color:white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}